input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  background-color: #e9ecef; // set the desired background color
  color: black;
}

simple_form input[type="text"]:focus,
.simple_form input[type="email"]:focus,
.simple_form input[type="password"]:focus,
.simple_form input[type="number"]:focus,
.simple_form textarea:focus {
  background-color: #e9ecef ; // set the desired background color
  color: black; // set the desired text color
}
