<div class="container">
<div class="card-item">
  <img src="https://lh3.googleusercontent.com/p/AF1QipM2lfD7wy-wGM4-TSLqxkqnN2oJCeRKSl8Tgy43=s1360-w1360-h1020" />
  <div class="align-items-center card-item-infos d-flex">
    <div>
      <h2>Surpriz</h2>
      <p>35 rue Oberkampf, 75011 Paris</p>
      <p>Kebab</p>
    </div>
    <div>
      <div class="ratings">
        <% 3.times do  %>
          <i class="fa fa-star rating-color"></i>
          <% end %>
          <% (5 - 3).times do  %>
            <i class='fa fa-star'></i>
          <% end %>
      </div>

      <div class="card-item-pricing">€</div>
    </div>

  </div>
</div>

</div>

<%# <div class="ratings"> %>
  <%# <% item.rating.times do  %>
     <%# <i class='fa fa-star rating-color'></i> %>
  <%# <% end %>
  <%# <% (5 - item.rating.times).times do  %>
      <%# <i class='fa fa-star'></i> %>
  <%# <% end %>
<%# </div> %>
