<div class="card-item">
  <img src= <%=deck_item.item.photo_url %> />
  <div class="align-items-center card-item-infos d-flex">
    <div>
      <h2> <%= deck_item.item.name %> </h2>
      <p><%=deck_item.item.address%></p>
    </div>
    <div>
      <div class="ratings">
        <% deck_item.item.rating.round.times do  %>
          <i class="fa fa-star rating-color"></i>
          <% end %>
          <% (5 - deck_item.item.rating.round).times do  %>
            <i class='fa fa-star'></i>
          <% end %>
      </div>

      <div class="card-item-pricing">€</div>
    </div>

  </div>
</div>



<%# <div class="ratings"> %>
  <%# <% item.rating.times do  %>
     <%# <i class='fa fa-star rating-color'></i> %>
  <%# <% end %>
  <%# <% (5 - item.rating.times).times do  %>
      <%# <i class='fa fa-star'></i> %>
  <%# <% end %>
<%# </div> %>
