
<% if @deck.user == current_user %>
  <div class="container d-flex flex-column align-items-center hidden-text pe-3">
  <h2 class="text-center fw-bold"> CONGRATS ! 🥳</h2>
  <p class="text-center fw-bold"> Share the list link to friends :
  <br>
  <div class="mt-3">
    <button class="create-btn" data-controller="sharing"
      data-action="click->sharing#share"
      data-sharing-title-value="<%= @deck.name %>"
      data-sharing-url-value="<%= deck_url(@deck) %>"><i class="fa-regular fa-share-from-square"></i> Share</button>

  </div>
   </p>

  <p class="text-center fw-bold"> You can close it from the dashboard!</p>
  </div>
<% else %>
  <div class="container d-flex flex-column align-items-center hidden-text pe-3">
  <h2 class="text-center fw-bold"> CONGRATS ! 🥳</h2>
  <p class="text-center fw-bold"> You've finished voting for propositions you liked, now share the deck's link to friends so they can vote as well :
  <br>
  <div class="mt-3">
    <button class="create-btn" data-controller="sharing"
      data-action="click->sharing#share"
      data-sharing-title-value="<%= @deck.name %>"
      data-sharing-url-value="<%= deck_url(@deck) %>"><i class="fa-regular fa-share-from-square"></i> Share</button>

  </div>
   </p>

<% end %>
