<body class="home-page">
  <div class="d-flex flex-column text-center align-items-center">
  <%= image_tag "logo-blanc.svg", width: "50", height: "50", style: "margin-bottom: 10px;"%>
      <h1 style="color:white;"> Schwiper</h1>
    <div class="d-flex flex-column">
      <div class="flex-grow">
        <h2 class="home-page">Choisir en un coup de pouce</h2>
      </div>
      <div class="flex-grow">
        <a class = "btn-login" href="<%= new_user_session_path %>">Login</a>
      </div>
      <div class=" flex-grow">
        <a class = "btn-signup" href="<%= new_user_registration_path %>"> Sign Up</a>
      </div>
    </div>
  </div>
</body>
