<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<div class="card-item">
  <img src="https://lh3.googleusercontent.com/p/AF1QipM2lfD7wy-wGM4-TSLqxkqnN2oJCeRKSl8Tgy43=s1360-w1360-h1020" />
  <div class="card-item-infos">
    <div>
      <h2>Surpriz</h2>
      <p>35 rue Oberkampf, 75011 Paris</p>
      <p>Kebab</p>
    </div>
    <h2 class="card-item-pricing">€</h2>
  </div>
</div>

</div>
