.card-deck-body {
  background-size: cover;
  background-position: center;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(89, 89, 89, 0.2);

  p {
    margin: 3px;
  }

  .btn {
    margin: 5px;
  }
}
