.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
  margin: 10px;
  max-width: 600px;
}

.card-item > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-item h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-item p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.most-voted-item {
  color: black;
  background-color: #CCFF00;
  border-radius: 5px;
}


.card-item .card-item-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-item-pricing{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.ratings{
}

.ratings i{

  color:#cecece;
  font-size:16px;
}

.rating-color{
  color:#fbc634 !important;
}

@media (min-width: 100px) and (max-width: 900px) {
  .cards-item {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin: 10px;
  }
}
