.create-round-btn-container {
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.create-round-btn {
  background-color: black;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 16px 16px;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}

.create-round-btn:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

a.create-round-btn:hover {
  color: #000000;
  cursor: pointer;
}

.create-round-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000000;
}
