.deck-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.deck-form h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.deck-form input[type="text"],input[type="password"], input[type="email"],input[type="file"], input[type="datetime-local"], .deck-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.deck-form input[type="text"]:focus,input[type="password"]:focus, input[type="email"]:focus, input[type="file"]:focus, input[type="datetime-local"]:focus {
  color: rgb(14, 0, 0);
  background-color: rgb(244, 244, 244);
  box-shadow: #CCFF00 0px 0px 0px 0.25rem;
  border-color: rgb(0, 0, 0);
  outline: 0px;
}



.deck-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.deck-form input[type="submit"]:hover {
  background-color: #0069d9;
}
