.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px 5px 20px 5px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
  border: solid 3px #CCFF00;
  background-color: gray;
  border-radius: 4px;


}

label[for=deck_movie_genre_drama] {
    /* ...definitions here... */
}

label[for=deck_movie_genre_comedy] {
    /* ...definitions here... */
}
