.page-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-even;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
}

.winner-card {
  z-index: 1;
  position: relative;
  height: 400px; /* or any other value you prefer */
  width: 300px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 5px solid #CCFF00;
  border-radius: 5px;
  background-position: center center;
  margin-top: 1em;

  .winner-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }


  .winner-card-info {
      position: absolute; /* position the text at the bottom */
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      color: white;
      text-align: left;
    }

  h2 {
    animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
    }

  @keyframes h2 {
    100%,0%{
      color: rgb(255,0,0);
    }
    8%{
      color: rgb(255,127,0);
    }
    16%{
      color: rgb(255,255,0);
    }
    25%{
      color: rgb(127,255,0);
    }
    33%{
      color: rgb(0,255,0);
    }
    41%{
      color: rgb(0,255,127);
    }
    50%{
      color: rgb(0,255,255);
    }
    58%{
      color: rgb(0,127,255);
    }
    66%{
      color: rgb(0,0,255);
    }
    75%{
      color: rgb(127,0,255);
    }
    83%{
      color: rgb(255,0,255);
    }
    91%{
      color: rgb(255,0,127);
    }
  }

  p:first-child {
      font-size: 1.2em;
      margin-bottom: 5px;
    }
}

.emoji-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  opacity: 0;
  animation: emoji-float 4s ease-out infinite;
  pointer-events: none;
}

.emoji h1{
  font-size: 68px;
}

@keyframes emoji-float {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(-10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-100%) scale(1) rotate(10deg);
  }
  75% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-100%) scale(0) rotate(-10deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
}

.winning_phone {
  z-index: 1;
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.phone_number {
  font-weight: bold;
}
