.page-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-even;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.winner-card {
  z-index: 1;
  position: relative;
  height: 400px; /* or any other value you prefer */
  width: 300px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-position: center center;

  .winner-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }


  .winner-card-info {
      position: absolute; /* position the text at the bottom */
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      color: white;
      text-align: left;
    }

  p {
      margin: 0;
      font-weight: bold;
    }

  p:first-child {
      font-size: 1.2em;
      margin-bottom: 5px;
    }
}

.emoji-container {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  opacity: 0;
  animation: emoji-float 4s ease-out infinite;
  pointer-events: none;
}

.emoji h1{
  font-size: 68px;
}

@keyframes emoji-float {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(-10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-100%) scale(1) rotate(10deg);
  }
  75% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-100%) scale(0) rotate(-10deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
}

.winning_phone {
  z-index: 1;
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.phone_number {
  font-weight: bold;
}
