<div class="container">
  <div class="row justify-content-center">
    <h1 class= "text-center"> Pickr, un coup de pouce pour choisir...</h1>
    <div class="col-sm-12">
      <div class="card-category">
        <%= link_to 'Restaurants', "#", class:'btn btn-primary' %>
        <img src="https://images.unsplash.com/photo-1564758564527-b97d79cb27c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" alt="image">
      </div>
    </div>
  </div>
</div>
