
<div class="container d-flex flex-column align-items-center">
<h1> <%= @deck.name %> </h1>
</div>

<%=  render "shared/message-deck-fin", deck: @deck%>




<% if @deck.status == "Closed"  %>

  <%= render "shared/deck_winning_item", winner: @deck_winning_item %>

<% else  %>

  <%= render "shared/card-swipe", deck_items: @deck_item %>

<% end %>
